.user__item {
    display: flex;
    margin: 10px 10px;
    padding: 15px;
    background: black;
    color: white;
    box-shadow: -5px 5px 10px rgba(0,0,0, 0.1);
    flex: 20%;
}


.users__right {
    width: 100%;
}
.username {
    font-size: 20px;
    font-weight: bold;
    padding-bottom: 10px;
}
.user__status {
    margin-bottom: 5px;
    font-size: 18px;
    font-weight: bold;
    color: rgba(255,255,255, 0.8);
    border-bottom: 1px white solid;
}
.user__location{
    margin-top: 10px;
    font-size: 16px;
    line-height: 150%;
}
.user__location div {
    padding: 10px;
}



.users__avatar {
    margin-right: 30px;
    object-fit: cover;
    width: 125px;
    height: 125px;
    border-radius: 50%;
    border: red 2px solid;
}

.btn__followed, .btn__unfollowed {
    margin-top: 20px;
    padding: 5px 15px;
    text-decoration: none;
    border: none;
    font-weight: bold;
    font-size: 20px;
    color: white;
}

.btn__followed {
    background: darkblue;
    border-radius: 2px;
}
.btn__unfollowed {
    background: darkred;
    border-radius: 2px;
}

.btn__followed:hover {
    background: rgba(0,0,255, 0.8);
}
.btn__unfollowed:hover {
    background: rgba(255,0,0, 0.8);
}

.selected_page {
    font-weight: bold;
}

.container__users {
    display: flex;
    flex-wrap: wrap;
}