.containe{
    margin-top: 15px;
    font-size: 20px;
    font-weight: bold;
}

.myPost {
    width: 90%;
    padding-bottom: 20px;
}

.myPost textarea {
    margin-top: 20px;
    padding: 10px;
    resize: none;
    width: calc(100% - 20px);
    height: 60px;
    background: rgba(255, 0, 0, 0.2);
    font-size: 16px;
    border: red 1px solid;
    transition:  box-shadow 0.1s ease-in-out;
    color: white;
}
.myPost textarea:hover {
    box-shadow: 0 0 10px rgba(255,0,0, 0.9);
}
.myPost textarea:focus {
    outline: red 1px solid;
}
.buttons{
 display: flex;
    justify-content: end;
}

.posts {

}