.app-wrapper {
  display: grid;
  max-width: 960px;
  margin-left: auto;
  margin-right: auto;

  grid-template-areas:
  "h h"
  "n c";

  grid-template-rows: 100px 1fr;
  grid-template-columns: 2fr 10fr;
  grid-gap: 10px;
}

.app-wrapper-content {
  border: darkred 2px solid;
}
.container {
  padding: 20px;
  margin: 0px;
}
.bg {
  background: white;
}
.color__font__white {
  color: white;
}
.height__8vh {
  height: 80vh;
}
.bg-black {
  background: black;
}


