.containe {
    height: 100%;
}

.dialogs {
    display: grid;
    min-height: 80%;
    grid-template-columns: 4fr 8fr;
}

.users {
    height: 70vh;
    overflow: scroll;
}
.list {
    overflow: paged-y;

}

.chats {
    border-left: rgba(0,0,0, 0.5) 2px solid;
    padding: 0 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.message__containe {
    overflow: paged-y;
    max-height: 500px;
}
.message {
    word-break: break-all;
    padding: 20px;
    margin: 10px;
    background: rgba(255,0,0,0.1);
}

.overflow {
    overflow: auto;

}