.containe {
    height: 100%;
}

.dialogs {
    display: grid;
    min-height: 80%;
    grid-template-columns: 4fr 8fr;
}

.users {

    overflow: auto;
}
.list {
}

.chats {
    border-left: rgba(0,0,0, 0.5) 2px solid;
    padding: 0 20px;
    overflow: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.message__containe {
    overflow: paged-y;
}
.message {

}